doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		//- Adaptive
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='HandheldFriendly', content='true')
		title Document
		link(rel="stylesheet" href="css/main.css")
	body
		header
			.hamburger.hamburger--collapse
				.hamburger-box
					.hamburger-inner
			#menu.menu.row
				nav.menu__nav.col-xs-12.col-sm-6
					ul.text-center
						li 
							a(href='portfolio.html') Protfolio
						li
							a(href='blog.html') Blog
						li 
							a(href='contacts.html') Contacts
				.menu__darkside.col-sm-6
			.header__banner
				figure.header__banner--portfolio

		main